/*! HTML5 Boilerplate v9.0.0-RC1 | MIT License | https://html5boilerplate.com/ */

/* main.css 3.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #3b3b3b;
  line-height: 1.4;
  font-family: 'Ubuntu';
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visually-hidden {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .visually-hidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visually-hidden.focusable:active,
.visually-hidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * The use of `table` rather than `block` is only necessary if using
 * `::before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: "";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

/* styling */
h1 {
  font-weight: 400;
  font-size: 30px;
  margin: 0;
}

h2 {
  font-weight: 300;
  letter-spacing: 0.7px;
  margin: 0;
}

p {
  font-weight: 300;
  margin: 0;
  font-size: 12px;
}

h3 {
  font-weight: 500;
  margin: 0;
  font-size: 16px;
}

.header {
  display: flex;
  align-items: center;
}

.navbar {
  display: flex;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.circle_bg {
  background-color: #ffffff34;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  padding-top: 1rem;
}

.menu_text_container {
  display: flex;
  margin-top: -15px;
  padding-left: 10px;
}

.menu_item:nth-child(1) {
  background-color: #25c389;
}
.menu_item:nth-child(2) {
  background-color: #ffb901;
}
.menu_item:nth-child(3) {
  background-color: #de6262;
}
.menu_item:nth-child(4) {
  background-color: #1691bd;
}
.menu_item:nth-child(5) {
  background-color: #166ba2;
}

.menu {
  display: flex;
  color: white;
}

/* mobile size */
.intro_title_text {
  margin-bottom: 1rem;
}

.navbar {
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  width: 100%;
}

.hamburger_icon {
  background-color: #3390c0;
  color: white;
  display: flex;
  align-items: center;
  padding: 5px 3px;
  margin-right: 1rem;
}

.menu_item {
  display: none;
}

.banner {
  display: none;
}

.services_item_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

.services_item {
  display: flex;
  align-items: start;
  gap: 1rem;
  margin-bottom: 2rem;
}

.services_item > img {
  width: 60px;
  height: 60px;
}

.services_item_text {
  margin-bottom: 0.3rem;
}

.news_item_text_container {
  padding: 0.5rem;
}

.services_item_text_container h3 {
  font-size: 16px;
}

.news_item_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}

.news_item_intro_container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 100%;
  margin-top: 0rem;
}

.news_item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0.5rem 0;
}

.news_item_text_container {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 0.7rem;
}

.news h3 {
  font-size: 1rem;
}

.news_icon {
  background-color: #1596bd;
  padding: 5px 10px 9px 10px;
  margin-right: 1rem;
}

/* tablet size */

@media (min-width: 768px) {
  .navbar {
    justify-content: space-around;
  }  

  .hamburger_icon {
    display: none;
  }

  .menu_item {
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
  }

  .banner {
    display: flex;
    justify-content: center;
    background-color: #e9e7e7;
    width: 100%;
  }
  
  .banner_pic {
  width: 90vw;
  }

  .services_item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
    padding: 1rem;
    width: 40vw;
    text-align: center;
    gap: 0;
  }
  
  .services_item_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    width: 100%;
    margin-top: 0.5rem;
  }

  .services_item_text {
    margin: 1rem 0;
  }

  .news_item_container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-top: 0.5rem;
    gap: 1rem;
  }

  .news_item {
    display: flex;
    flex-direction: column;
    column-count: 2;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
  }
  
}

/* desktop size */
@media (min-width: 1024px) {
  .news_item_extra {
   display: none;
 }  
}


.intro_title {
  display: flex;
  justify-content: center;
  margin: 2rem 0;
  text-align: center;
}

.services_title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.web_solution {
  border: 2.5px solid #fcbc31;
}

.photography {
  border: 2.5px solid #1dbe86;
}

.web_devt {
  border: 2.5px solid #e74c31;
}

.web_design {
  border: 2.5px solid #4caae4;
}

.news_content {
  display: flex;
  flex-direction: column;
  justify-content: center;

}


.news_title {
  text-align: center;
}

.news_item {
  background-color: #19b2de;
  color: white;
}

.news_item_container {
  gap: 1rem;
}

.paragraph {
  color: #939393;
}

.intro_title_text > span {
  color: #1eafde;
}


/* styling for the bottom half of the page (put them together later) */
/* margin? no fixed size */
/* change the icon to vector */
/* fix the h3 font-size */

/* for mobile and common code */

/* project */
.projects_content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.projects_title{
  text-align: center;
  margin-top: 2rem;
}

.projects_item{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  background-color: #1eafde;
}
.project_item_intro_container {
  display: flex;
  align-items: center;
  color: white;
  gap: 2.5em;
  padding: 0.5rem;
}
.project_item_text_container {
  text-align: left;
}
.project_icon {
  background-color:#1596bd;
  fill: white;
  padding: 0.5em 0.7em;
}

/* other, clients */
.others, .clients {
  display: none;
}

/* footer */
.footer {
  background-color: #15232E;
  color: white;
}
.footer_content {
  padding: 1rem;
}
.footer_staff {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  gap: 1rem;
}
.footer_staff_image > img {
  width: 10rem;
  height: 10rem;
}
.h_line {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.h_line_wide_blue {
  width: 10%;
  height: 0.07rem;
  background-color: #1596bd;
}
.h_line_wide_lightblue {
  width: 70%;
  height: 0.03rem;
  background-color:#4d5459;
}
.footer_about_text {
  display: none;
}
.footer_about_link {
  display: flex;
  justify-content: center;
  padding-top: 1rem;
}
.footer_about_link_icon{
  fill: white;
  width: 1.3rem;
  height: 1.3rem;
  padding: 1rem;
  margin: 0.1rem;
}
.footer_about_link_facebook {
  background-color: #527BC4;
}
.footer_about_link_google {
  background-color: #E46146;
}
.footer_about_link_twitter {
  background-color: #00AFE0;
}
.footer_about_link_instagram {
  background-color: #F6669B;
}
.footer_about_link_signal {
  background-color: #FCA401;
}
.footer_flickr, .footer_newsletter {
  display: none;
}
.footer_tweets_text {
  margin: 1rem;
}
.arrow-down_red {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid #D7605F;
}
.h_line_red {
  width: 70%;
  height: 0.03rem;
  background-color:#D7605F;
}
.footer_tweets_content{
  display: flex;
  padding: 1rem;
  gap: 1rem;
}
.footer_tweets_logo {
  fill: white;
  background-color: gray;
  border-radius: 50%;
  padding: 0.5rem;
}
.minion_link {
  text-decoration: none;
  color:#1691bd;
  font-weight: bold;
}
.color_bar {
  display: flex;
  justify-content: center;
}
.color_bar_green {
  background-color: #1dbe86;
  height: 2vh;
  width: 12vw;
}
.color_bar_yellow {
  background-color:#fcbc31;
  height: 2vh;
  width: 12vw;
}
.color_bar_red {
  background-color:#de6262;
  height: 2vh;
  width: 12vw;
}
.color_bar_blue {
  background-color:#19b2de;
  height: 2vh;
  width: 12vw;
}
.color_bar_darkblue {
  background-color:#166ba2;
  height: 2vh;
  width: 12vw;
}


/* tablet */
@media (min-width: 768px){
  /* project */
  .projects_item_container {
    /* display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    text-align: center;
    width: 100%;
    margin-top: 0.5rem;
  }
  /* others */
  .others {
    display: block;
  }
  .others_title {
    text-align: center;
    margin: 2rem 4rem;
  }
  .others_accordion {
    margin: 1rem;
  }
  .others_accordion_title_on {
    color: white;
    background-color: #1eafde;
    cursor: pointer;
    padding: 1rem;
  }
  .others_accordion_panel {
    display: flex;
    background-color: #e9e7e7;
    padding: 2rem;
    gap: 1rem;
  }
  .others_accordion_panel_icon_container {
    background-color: #24C388;
  }
  .others_accordion_panel_icon {
    stroke: white;
    padding: 3rem;
  }
  .others_accordion_title {
    cursor: pointer;
    padding: 1rem;
    border: solid 0.5px #ccc;
  }

  .others_tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
  }
  .tab {
    overflow: hidden;
  }
  .others_tabs_label {
    background-color: #f1f1f1;
    float: left;
    border: 0.5px solid #ccc;
    color: #ccc;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  .on {
    background-color: white;
    border-bottom: none;
    color: black;
  }
  .others_tabs_content {
    padding: 1rem;
    border: solid 0.5px #ccc;
  }
  .others_tabs_praragraph{
    display: flex;
    margin: 1rem;
    gap: 2rem;
  }
  .others_tabs_icon {
    height: 30px;
    stroke: white;
    padding: 15px 20px;
  }
  .others_tabs_icon_flask {
    background-color: #D75F5E;
  }
  .others_tabs_icon_leaf {
    background-color: #24C388;
  }
  .others_tabs_icon_laptop {
    background-color: #FEB900;
  }
  .others_tabs_icon_community {
    background-color: #852C99;
  }

  /* clients */
  .clients {
    display: block;
  }
  .clients_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 8rem;
  }
  .clients_item_image {
    width: 8rem;
  }

  /* footer */
  .footer_content_items {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer_about {
    width: 35vw;
  }
  .footer_about_link {
    padding: 0;
    justify-content: flex-start;
  }
  .arrow-down_green {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #1dbe86;
  }
  .h_line_green {
    width: 70%;
    height: 0.03rem;
    background-color:#1dbe86;
  }
  .arrow-down_yellow {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid yellow;
  }
  .h_line_yellow {
    width: 70%;
    height: 0.03rem;
    background-color: yellow;
  }
  .arrow-down_blue {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #1596bd;
  }
  .h_line_blue {
    width: 70%;
    height: 0.03rem;
    background-color:#1596bd;
  }
  .footer_about_text {
    margin: 1rem 0;
    display: block;
  }
  .footer_flickr {
    display: block;
    width: 35vw;
  }
  .footer_flickr_text{
    margin: 1rem;
  }
  .footer_flickr_items{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem;
  }
  .footer_flickr_image {
    width: 30%;
    height: auto;
  }
  .footer_tweets {
    width: 35vw;
  }
  .footer_newsletter {
    display: block;
    width: 35vw;
  }
  .footer_newsletter_text {
    margin: 1rem;
  }
  .footer_newsLetter_content {
    margin: 1rem 0;
  }
  .footer_newsletter_input {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2rem;
    width: 100%;
  }
  .footer_newsletter_email {
    background-color: #D7605F;
    border: none;
    height: 100%;
    padding: 0 1rem;
  }
  .footer_newsletter_submit_container {
    background-color: #FFB800;
    border: none;
    height: 100%;
    width: 2rem;
  }
  .footer_newsletter_submit_container > svg{
    width: 20px;
    height: 20px;
    fill: white;
  }
  ::placeholder {
    color: rgb(220, 219, 219);
  }
  .color_bar {
    display: flex;
    justify-content: flex-end;
  }
}



/* desktop */
@media (min-width: 1024px){
  /* project */
  .projects_item_container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;
    margin: 0 8rem;
  }
  /* others */
  .others {
    display: block;
    margin: 4rem;
  }
  .others_title {
    text-align: center;
    margin: 2rem 4rem;
  }
  .others_content_container {
    display: flex;
    flex-direction: row;
  }
  .others_accordion {
    margin: 1rem;
  }
  .others_accordion_title_on {
    color: white;
    background-color: #1eafde;
    cursor: pointer;
    padding: 1rem;
  }
  .others_accordion_panel {
    display: flex;
    background-color: #e9e7e7;
    padding: 2rem;
    gap: 1rem;
  }
  .others_accordion_title {
    cursor: pointer;
    padding: 1rem;
    border: solid 0.5px #ccc;
  }

  .others_tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2rem;
  }
  .tab {
    overflow: hidden;
  }
  .others_tabs_label {
    background-color: #f1f1f1;
    float: left;
    border: 0.5px solid #ccc;
    color: #ccc;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
  }
  .on {
    background-color: white;
    border-bottom: none;
    color: black;
  }
  .others_tabs_content {
    padding: 1rem;
    border: solid 0.5px #ccc;
  }
  .others_tabs_praragraph{
    display: flex;
    margin: 1rem;
    gap: 2rem;
  }
  .others_tabs_icon {
    height: 70px;
    stroke: white;
    padding: 0 25px;
  }
  /* clients */
  .clients {
    display: block;
  }
  .clients_content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 2rem 8rem;
  }
  .clients_item_image {
    width: 8rem;
  }

  /* footer */
  .footer_staff {
    margin: 1rem;
  }
  .footer_content_items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }
  .footer_about {
    width: 20vw;
  }
  .footer_about_link_icon{
    fill: white;
    width: 1rem;
    height: 1rem;
    padding: 0.5rem;
  }
  .arrow-down_green {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #1dbe86;
  }
  .h_line_green {
    width: 70%;
    height: 0.03rem;
    background-color:#1dbe86;
  }
  .arrow-down_yellow {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid yellow;
  }
  .h_line_yellow {
    width: 70%;
    height: 0.03rem;
    background-color: yellow;
  }
  .arrow-down_blue {
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #1596bd;
  }
  .h_line_blue {
    width: 70%;
    height: 0.03rem;
    background-color:#1596bd;
  }
  .footer_flickr {
    width: 20vw;
  }
  .footer_tweets {
    width: 20vw;
  }
  .footer_newsletter {
    display: block;
    width: 20vw;
  }
  ::placeholder {
    color: white;
  }
  .color_bar {
    display: flex;
    justify-content: flex-end;
  }
}